<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @environment_group.name %>
</p>

<%= link_to 'Edit', edit_environment_group_path(@environment_group) %> |
<%= link_to 'Back', environment_groups_path %>
